@import url("../vendor/normalize.css");
@import url("../fonts/fonts.css");
@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 150% 50%;
  }
}
@keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 150% 50%;
  }
}
.page {
  background-color: black;
  background: linear-gradient(90deg, #00eeb0, #ad00ee);
  background-size: 400% 400%;
  -webkit-animation: gradientAnim 15s ease infinite;
          animation: gradientAnim 15s ease infinite;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #ad00ee;
}

::selection {
  background-color: #ad00ee;
}

.container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  margin: 0;
  font-family: "Sansation";
  font-size: 51px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #fff;
  z-index: 2;
  cursor: default;
}

.btn {
  display: block;
  border-radius: 5px;
  font-family: "Sansation";
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  transition: background-position 0.4s ease, background-color 0.5s ease, box-shadow 0.3s ease-in-out;
  letter-spacing: 0.9px;
}

/*___ Intro */
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 640px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.intro__video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 640px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__link {
  max-width: 350px;
  width: 100%;
  margin-top: 70px;
  text-decoration: none;
  z-index: 1;
}
.intro__svg {
  fill: #fff;
}
.intro__title {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.intro__subtitle {
  position: absolute;
  margin: 24px 0 0 0;
  font-family: "Sansation";
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.intro__btn {
  position: absolute;
  bottom: 0;
  display: block;
  width: 89%;
  padding: 29px 70px;
  background-color: #8F00FF;
  background-image: linear-gradient(to left, #00FFA3 0%, #8F00FF 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  box-shadow: 50px -20px 200px 15px #8F00FF;
}
.intro__btn:hover {
  background-position: left bottom;
  box-shadow: -50px 20px 120px 10px #00FFA3;
}

/* ___ About */
.about {
  padding: 100px 0;
}

/*___ Gallery */
.gallery {
  position: relative;
  min-height: 640px;
  height: 100vh;
  margin: 0 auto;
  padding: 140px 0 180px;
  box-sizing: border-box;
  background-color: #121212;
  overflow: hidden;
}
.gallery__slider {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery__slider-menu {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 3%;
       column-gap: 3%;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.gallery__slider-dots {
  position: absolute;
  bottom: 50px;
  left: 30px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  opacity: 1;
}
.gallery__slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: rgba(104, 104, 104, 0.3);
}
.gallery__slider-dot:hover {
  background-color: #00eeb0;
  cursor: pointer;
}
.gallery__slider-dot_is_active {
  background-color: #8F00FF;
}
.gallery__slider-dot_is_active:hover {
  cursor: default;
  background-color: #8F00FF;
}
.gallery__slider-nav {
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.gallery__slider-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #00eeb0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.gallery__slider-nav-button:hover {
  cursor: pointer;
  background-color: #ad00ee;
}
.gallery__slider-nav-icon {
  width: 35px;
  height: 35px;
}
.gallery__slider-nav-icon-path {
  fill: #fff;
}
.gallery__slide {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}
.gallery__slide_is_active {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.gallery__slide-image {
  width: 100vw;
  min-height: 640px;
  height: 100vh;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*___ Events */
.events {
  width: 100vw;
  margin: 0 auto;
  padding: 95px 0px 100px;
  background-color: #00FFA3;
  background: linear-gradient(90deg, #00eeb0, #ad00ee);
  background-size: 400% 400%;
  -webkit-animation: gradientAnim 15s ease infinite;
          animation: gradientAnim 15s ease infinite;
  overflow: hidden;
  scroll-padding-top: 93px;
}
.events__container {
  max-width: 1380px;
}
.events__slider {
  display: flex;
  flex-direction: column;
  margin: 130px auto 0;
}
.events__slider-menu {
  display: flex;
  -moz-column-gap: 3%;
       column-gap: 3%;
  align-items: center;
  margin-top: 60px;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.events__slider-dots {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  z-index: 1;
}
.events__slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: #00eeb0;
}
.events__slider-dot:hover {
  background-color: #8F00FF;
  cursor: pointer;
}
.events__slider-dot_is_active {
  background-color: #8F00FF;
}
.events__slider-dot_is_active:hover {
  cursor: default;
  background-color: #8F00FF;
}
.events__slider-nav {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  z-index: 1;
}
.events__slider-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #8F00FF;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.events__slider-nav-button:hover {
  cursor: pointer;
  background-color: #00eeb0;
}
.events__slider-nav-icon {
  width: 35px;
  height: 35px;
}
.events__slider-nav-icon-path {
  fill: #fff;
}
.events__slide {
  position: absolute;
  width: 100%;
  transform: skewX(-13deg) scale(0.7) translateX(120%) translateY(40%);
  display: flex;
  transition: transform 0.4s ease, opacity 0.4s ease;
  pointer-events: none;
  opacity: 1;
}
.events__slide_is_active {
  position: initial;
  right: 0;
  opacity: 1;
  min-height: 432px;
  transform: none;
  pointer-events: all;
  z-index: 1;
}
.events__slide_is_active .events__cover_blurred {
  opacity: 1;
}
.events__slide-image {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.events__section-title::before {
  position: absolute;
  top: 25px;
  left: -5px;
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to left, #00FFA3 0%, #8F00FF 50%);
  background-size: 300% 300%;
  z-index: -1;
  opacity: 1;
  -webkit-animation: gradientAnim 10s ease infinite;
          animation: gradientAnim 10s ease infinite;
}
.events__cover {
  position: relative;
  max-width: 394px;
  max-height: 415px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.events__cover_blurred {
  position: absolute;
  left: -20%;
  width: 100%;
  transform: scale(1.3);
  filter: blur(90px);
  pointer-events: none;
  opacity: 0;
  z-index: 0;
}
.events__info {
  margin-left: 55px;
}
.events__title {
  margin: 0;
  font-family: "Sansation";
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
}
.events__links {
  display: flex;
  align-items: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
  margin-top: 60px;
}
.events__social {
  display: block;
  width: 80px;
}
.events__icon {
  fill: #00FFA3;
  transition: fill 0.2s ease;
}
.events__icon:hover {
  fill: #ad00ee;
}
.events__date {
  display: block;
  max-width: 84%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 27px 0 0 30px;
  padding: 10px 30px;
  font-family: "Sansation";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #fff;
  background-image: linear-gradient(to left, #00FFA3 0%, #8F00FF 75%, #00FFA3 100%);
  background-size: 400% 400%;
  -webkit-animation: gradientAnim 5s ease infinite;
          animation: gradientAnim 5s ease infinite;
  cursor: default;
}
.events__description {
  max-width: 640px;
  margin: 46px 0 0;
  font-family: "Sansation";
  font-size: 19px;
  letter-spacing: 0.01em;
  line-height: 28px;
}/*# sourceMappingURL=index.css.map */